alembic
async-exit-stack 
async-generator
bcrypt
fastapi
fsspec
httpie
pandas
pandas_ods_reader
passlib[bcrypt]
pillow
psycopg2-binary
python-dotenv
python-multipart

requests 
sendgrid
sqlalchemy
sqlalchemy-utils

boto3
pytz
pyjwt

gunicorn
uvicorn[standard]
uvloop
httptools

pytest
pytest-cov
pytest-asyncio

pycodestyle
autopep8
